* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Logo container */
.logo-container img {
  width: 50px; /* ou la taille que vous préférez */
  height: auto; /* garde le ratio de l'image */
  transition: transform 0.3s, filter 0.3s; /* Transition douce pour le transform et la luminosité du logo */
}

.logo-container img:hover {
  transform: scale(1.1); /* Réduit légèrement l'agrandissement au survol */
}

/* Style the navbar */
.topnav {
  display: flex; /* Utilise flexbox pour l'alignement */
  align-items: center; /* Aligne les items verticalement au centre */
  justify-content: space-between; /* Espace entre les éléments */
  background-color: #f8f8f8; /* Couleur de fond plus claire */
  border-bottom: 1px solid #ddd; /* Ligne de séparation en bas */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Légère ombre pour donner de la profondeur */
  padding: 0 20px; /* Padding horizontal */
  height: 60px; /* Hauteur fixe pour la barre de navigation */
  margin: 0; /* Enlève toute marge autour de la barre de navigation */
}

/* Container for nav links to ensure they take equal space */
.nav-links {
  display: flex;
  flex: 1;
  height: 100%; /* Assure que les liens prennent toute la hauteur de la barre de navigation */
  margin: 0; /* Enlève toute marge autour des liens */
  padding: 0; /* Enlève tout padding autour des liens */
}

.nav-links a {
  flex: 1; /* Pour que chaque lien prenne un espace égal */
  display: flex; /* Utilise flexbox pour les liens */
  align-items: center; /* Aligne les liens verticalement au centre */
  justify-content: center; /* Centre le texte dans les liens */
  color: #333; /* Couleur du texte plus douce */
  text-align: center;
  text-decoration: none;
  font-size: 18px; /* Taille de la police légèrement réduite */
  position: relative; /* Nécessaire pour l'élément pseudo */
  transition: background-color 0.3s, color 0.3s; /* Transitions douces */
  margin: 0; /* Enlève toute marge autour des liens */
  padding: 0; /* Enlève tout padding autour des liens */
  height: 100%; /* Assure que les liens prennent toute la hauteur de la barre de navigation */
}

.nav-links a:hover {
  background-color: transparent; /* Pas de changement de couleur */
}

.nav-links a:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px; /* Épaisseur de la ligne de surlignage */
  background-color: #ddd; /* Couleur de surlignage modifiée */
  transition: width 0.3s;
}


/* Style the input container */
.topnav .login-container {
  display: flex; /* Utilise flexbox pour l'alignement */
  align-items: center; /* Aligne les items verticalement au centre */
  margin: 0; /* Enlève toute marge autour du conteneur de connexion */
  padding: 0; /* Enlève tout padding autour du conteneur de connexion */
}

/* Style the input field inside the navbar */
.topnav input[type=text],
.topnav input[type=password] {
  padding: 6px;
  font-size: 16px; /* Taille de la police réduite pour correspondre aux liens */
  border: 1px solid #ccc; /* Bordure plus discrète */
  border-radius: 4px; /* Coins arrondis pour un look moderne */
  width: 150px; /* ajustez selon les besoins */
  margin-right: 10px; /* Espace entre les champs de saisie */
  margin-top: 0; /* Enlève la marge haute par défaut */
  margin-bottom: 0; /* Enlève la marge basse */
}

.topnav input[type=text]:focus,
.topnav input[type=password]:focus {
  outline: none;
  border-color: #999; /* Couleur de la bordure au focus modifiée */
}

/* Style the button inside the input container */
.topnav .login-container button {
  padding: 6px 12px;
  background: #999; /* Couleur de fond modifiée */
  color: #fff;
  font-size: 16px; /* Taille de la police réduite */
  border: none;
  border-radius: 4px; /* Coins arrondis */
  cursor: pointer;
  transition: background-color 0.3s; /* Transition douce */
  margin-top: 0; /* Enlève la marge haute par défaut */
  margin-bottom: 0; /* Enlève la marge basse */
}

.topnav .login-container button:hover {
  background: #666; /* Couleur de fond au survol modifiée */
}

/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav {
    flex-direction: column;
    align-items: stretch;
    height: auto; /* Réinitialise la hauteur pour les petits écrans */
  }
  .topnav .login-container {
    justify-content: center; /* Centrer les éléments dans le conteneur */
  }
  .nav-links a,
  .topnav input[type=text],
  .topnav input[type=password],
  .topnav .login-container button {
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
