/* Style du commutateur (switch) */
.switch {
  position: relative;
  display: inline-block;
  width: 40px; /* Largeur réduite du commutateur */
  height: 22px; /* Hauteur réduite du commutateur */
}

/* Style du curseur du commutateur */
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px; /* Hauteur ajustée pour correspondre au nouveau design */
  width: 18px; /* Largeur ajustée pour correspondre au nouveau design */
  left: 2px; /* Position ajustée pour alignement initial */
  bottom: 2px; /* Position ajustée pour alignement initial */
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #325976;
}

input:focus + .slider {
  box-shadow: 0 0 1px #325976;
}

input:checked + .slider:before {
  transform: translateX(20px); /* Translation ajustée pour le nouveau design */
}

/* Style arrondi pour le curseur (aspect on/off) */
.slider.round {
  border-radius: 22px; /* Ajusté pour correspondre à la hauteur réduite */
}

.slider.round:before {
  border-radius: 50%;
}


/* Style de base */
* { box-sizing: border-box; }

/* Style de la barre de navigation */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  transition: background-color 0.3s; /* Animation douce lors du changement de thème */
}

/* Liens de la barre de navigation */
.topnav a {
  float: left;
  display: block;
  color: black; /* Couleur du texte pour le mode clair */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: background-color 0.3s, color 0.3s; /* Animation douce lors du changement de thème */
}

/* Liens de la barre de navigation au survol de la souris */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Lien actuel/courant */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style du conteneur de saisie */
.topnav .login-container {
  float: right;
}

/* Style du champ de saisie dans la barre de navigation */
.topnav input[type=text], .topnav input[type=password] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  background: #f1f1f1; /* Fond pour le mode clair */
  color: black; /* Couleur du texte pour le mode clair */
  transition: background-color 0.3s, color 0.3s; /* Animation douce lors du changement de thème */
}

/* Style du bouton dans le conteneur de saisie */
.topnav .login-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s; /* Animation douce lors du changement de thème */
}

.topnav .login-container button:hover {
  background: #ccc;
}

/* Ajout de la réactivité - Sur les petits écrans, affichage de la barre de navigation verticalement */
@media screen and (max-width: 600px) {
  /* ... Votre code réactif existant ... */
}

/* Styles spécifiques au mode nuit */
.dark-mode .topnav {
  background-color: #343a40; /* Fond plus foncé pour le mode nuit */
}

.dark-mode .topnav a {
  color: #dcdcdc; /* Couleur du texte pour le mode nuit */
}

.dark-mode .topnav a:hover {
  background-color: #454e56; /* Fond de survol plus foncé pour le mode nuit */
}

.dark-mode .topnav input[type=text], .dark-mode .topnav input[type=password] {
  background: #555; /* Fond des champs de saisie pour le mode nuit */
  color: white; /* Couleur du texte pour le mode nuit */
}

.dark-mode .topnav .login-container button {
  background: #5e6770; /* Fond du bouton pour le mode nuit */
}

.dark-mode .topnav .login-container button:hover {
  background: #70757a; /* Fond du bouton au survol pour le mode nuit */
}

